<!-- templates/navbar.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
</head>
<body>

    <nav>
        <ul>
            <li><a href="{{ url_for('get_topTracks') }}">Top Tracks</a></li>
            <li><a href="{{ url_for('get_topArtists') }}">Top Artists</a></li>
            <li><a href="{{ url_for('get_playlists') }}">Playlists</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
    </nav>

</body>
</html>
